body{

    /* margin properties are used to create space around elements, outside of any defined borders*/

    margin: 0;/* to remove by default margins */
    font-family: sans-serif;

    /* bringing everything in center horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* set height of the screens */
    height: 100vh;
    justify-content: center;

    /*took the picture from the unsplash.com*/
    background: url("https://images.unsplash.com/photo-1468581264429-2548ef9eb732?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80");
    background-size: cover;

    /*background-size: cover; means the image will fill the element while maintaining its aspect ratio*/

    overflow: hidden;
    /*specifies whether to clip the content or to add scrollbars when the content of an element is too big to fit in the specified area. basically remove the scrollbar */
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;

    /* to make a space between alphabets */
    font-size: 30px;
    text-align: center;
    color: rgb(69, 48, 4);
}
.clock{

    /* flex is used to lay a collection of items out in one direction or another*/
    display: flex;
}

.clock div{

  margin: 5px;
  position: relative;
  /* position: relative; changes the position of the element relative to the parent element and relative to itself and where it would usually be in the regular document flow of the page*/

}

.clock span{
    width: 100px;
    height: 80px;
    background-color: rgb(122, 130, 147);
    opacity: .8;
    color: rgb(83, 11, 11);
    display: flex;
    justify-content: center; /*horizontally*/
    align-items: center; /*vertically*/
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3); /* horizontal vertical blur_radius color(30% opacity) */

}

.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgb(230, 233, 234);
    opacity: 0.8;
}

.clock #ampm{
    bottom: 0;
    position: absolute;
    /*an element whose computed position value is absolute or fixed */
    
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: beige;
}